module.exports = {
  secret: "visit matchyourtie.com!", //jwt secret,
  activation_secret: "activate-your-account",
  db: {
    local: "mongodb://localhost:27017/gastronomycon",
    remote: "YOUR_REMOTE_DB"
  },
  allow_set_role_on_signup: true
};
