
<div class="container">
	<div class="row">
		<div class="col-md-12">
		
            <div class="input-group">
		      <input type="text" class="form-control" placeholder="Search for..." #query (keyup)="0">
		      <span class="input-group-btn">
		        <button class="btn btn-success" type="button" (click)="addItem()"><i class="fa fa-plus" aria-hidden="true"></i></button>
		      </span>
		    </div><!-- /input-group -->
		    {{query.value}}
        </div>
    </div>

    <hr>

    <div class="row">
	    	<div class="col-md-6 lib-item" *ngFor ="let item of items | search:query.value | orderBy : ['-_id'] ">
	            <div class="lib-panel">
	                <div class="row box-shadow">
	                    <div class="col-md-6 lib-img-wrapper">
	                        <img class="lib-img cover" src="{{item.pic}}">
	                    </div>
	                    <div class="col-md-6 lib-wrapper">
	                        <div class="lib-row lib-header">
	                            <p><strong>{{item?.name?.it?.main}}</strong> <span class="text-muted"><i>{{item?.name?.it?.spec}}</i> (it)</span></p>
	                            <p><strong>{{item?.name?.de?.main}}</strong> <span class="text-muted"><i>{{item?.name?.de?.spec}}</i> (de)</span></p>
	                            <p><strong>{{item?.name?.pl?.main}}</strong> <span class="text-muted"><i>{{item?.name?.pl?.spec}}</i> (pl)</span></p>
	                            
	                        </div>
	                        <div class="lib-row lib-desc">
	                        	<p>ID: {{item?._id}}</p> 
	                        </div>
	                         <div class="btn-group lib-btn-group">
		                        	 <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal" (click)="selectId(item._id)">
								  		<i class="fa fa-pencil right" aria-hidden="true"></i>
									</button>
		                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" (click)="selectId(item._id)">
								  		<i class="fa fa-trash right" aria-hidden="true"></i>
									</button>
							</div> 
	                    </div>
	                </div>
	            </div>
	        </div>
    </div>
</div>



<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="Edit Item">
  <div class="modal-dialog modal-lg" role="document">
  	<form (ngSubmit)="updateItem()">
	  	<div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Edit Item {{$item.id}}</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="form-group">
	      		<label for="Image url">Img url</label>
	      		<input type="text" class="form-control" name="pic-url" [(ngModel)] = "$item.data.pic">
	      	</div>
		    <div class="sidebar-category">
		        <ul class="nav nav-tabs">
		          <li [class.active]="panelshow == 'DE'"> <a (click)="setPanel('DE')">DE</a></li>
		          <li [class.active]="panelshow == 'PL'"> <a (click)="setPanel('PL')">PL</a></li>
		          <li [class.active]="panelshow == 'IT'"> <a (click)="setPanel('IT')">IT</a></li>
		        </ul>
		        <div *ngIf="panelshow == 'DE'"> 
					<div class="form-group">
	      				<label for="Image url">Main name</label>
	      				<input type="text" class="form-control" name="de-main" [(ngModel)] = "$item.data.name.de.main">
	      			</div>
	      			<div class="form-group">
	      				<label for="Image url">Spec</label>
	      				<input type="text" class="form-control" name="de-spec" [(ngModel)] = "$item.data.name.de.spec">
	      			</div>
				</div>
				<div *ngIf="panelshow == 'PL'"> 
					<div class="form-group">
	      				<label for="Image url">Main name</label>
	      				<input type="text" class="form-control" name="pl-main" [(ngModel)] = "$item.data.name.pl.main">
	      			</div>
	      			<div class="form-group">
	      				<label for="Image url">Spec</label>
	      				<input type="text" class="form-control" name="pl-spec" [(ngModel)] = "$item.data.name.pl.spec">
	      			</div>
				</div>
				<div *ngIf="panelshow == 'IT'"> 
					<div class="form-group">
	      				<label for="Image url">Main name</label>
	      				<input type="text" class="form-control" name="it-main" [(ngModel)] = "$item.data.name.it.main">
	      			</div>
	      			<div class="form-group">
	      				<label for="Image url">Spec</label>
	      				<input type="text" class="form-control" name="it-spec" [(ngModel)] = "$item.data.name.it.spec">
	      			</div>
				</div>
		        
		     </div>
		   </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary" >Save changes</button>
	      </div>
	    </div>
    </form>
  </div>
</div>

<!--DELETE Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete Item">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Item</h4>
      </div>
      <div class="modal-body">
        <h3 class="centered">Are you sure you want to delete this item?</h3>
        <div class="row">
        	<div class="col-md-12">{{$item.data | json}}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary"  (click)="deleteItem($item.data)">Yes</button>
      </div>
    </div>
  </div>
</div>


