#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

    .pic {
	    width: 100px;
	    height: 100px;
	    max-width: 100px;
	    max-height: 100px;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	    border: 5px solid rgba(255,255,255,0.5);
	}


.lib-panel {
    margin-bottom: 20px;
}

.lib-panel .lib-img-wrapper, .lib-wrapper{
    max-height: 200px;
    min-height: 200px;
    overflow: hidden;
    
}


.lib-panel .lib-img-wrapper img {
    width: 100%;
    background-color: transparent;
    object-fit: cover;
    height: 200px;
        
}

.lib-img-wrapper:hover{

}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;

}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 15px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.lib-panel .lib-btn-group{
    position: absolute;
    bottom: 0;
    right: 0;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.lib-item{
    padding-left:40px;
    padding-right:40px;
}

.no-padding {
    padding: 0;
}

ul {
  list-style-type: none;
}

.container{
    margin-bottom: 200px
}