<div id="bg">
  <img src="../../assets/img/bg.jpg" alt="">
</div>

<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header text-center landing-page circleBase">
					<h1>Welcome in Grocerybot</h1>
					<h3>Your personal assistant for daily grocery shopping</h3>
					<p>A server-side application for suppoprting multilingual grocery lists</p>
					<p><a href="https://github.com/ugobriasco/grocerybot-server">Open Source! <i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
				</div>
			</div>
		</div>
	</div>
</header>
<body hidden>
	<section class="container">
	<div class="row">
		<div class="col-md-12">
			<hr>
			<div class="jumbotron">
			<h1>Grocerybot helps foreingers to integrate better in theyr host country, making daily grocery shopping easyer</h1>
			</div>
			<hr>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
		<h1>Title</h1>
		<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam felis mi, semper commodo egestas sit amet, mollis et erat. Praesent eu malesuada urna. Praesent viverra dolor ac sem porta condimentum. Suspendisse finibus, felis placerat consectetur sagittis, turpis eros tempus dui, ac imperdiet tortor velit id nisl. Sed vestibulum diam eget erat consequat, ac bibendum diam malesuada. Nunc in posuere augue. Donec posuere lectus sit amet turpis venenatis hendrerit. Ut efficitur elit at imperdiet lacinia. Morbi facilisis neque dapibus efficitur convallis. Praesent hendrerit porttitor nisl quis viverra.</p>
		</div>
		<h1>Title</h1>
		<hr>
		<div class="col-md-6">Integer in sapien consequat, imperdiet purus nec, bibendum nulla. Sed et nibh vitae sem dapibus egestas. Aenean ut quam ac metus varius facilisis eu sed leo. Duis vel vulputate leo. Nulla pharetra, tortor eget ultricies hendrerit, arcu ante aliquet leo, quis consequat erat dui et erat. Vestibulum aliquet ligula posuere diam dictum, eget rhoncus quam maximus. Sed eget leo ipsum. Suspendisse a velit ex. Pellentesque eu nisi non magna ullamcorper porttitor facilisis at sem. Suspendisse velit diam, efficitur eget sem nec, vulputate posuere nibh. Aliquam vitae condimentum justo. Maecenas non accumsan dolor. Vestibulum vehicula tortor in pharetra mollis.</div>
	</div>
	
	</section>
</body>


