

	<div *ngFor = "let user of users">
		<div class="card hovercard">
                    <div class="cardheader">
                      <img alt="" src="{{user?.profile?.cover}}" onError="this.src='http://lorempixel.com/850/280/nature/4/'">
                    </div>
                    <div class="avatar">
                        <img alt="" src="{{user?.profile?.avatar}}" onError="this.src= './assets/img/default-avatar.png';">
                    </div>
                    <div class="info">
                        <div class="title">
                            {{user?.profile?.name}}
                        </div>
                        <div class="desc">{{user?.email}}</div>
                        <div class="desc">{{user?.role}}</div>

                    </div>
                    <div class="bottom">
                        <div *ngIf =" isAdmin" class="btn-group">
                            <button type="button" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#editModal"(click) = "selectUser(this.user)"><i class="fa fa-cog"></i></button>
                        </div>
                    </div>
            </div>
	</div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="Edit User">
  <div class="modal-dialog" role="document" *ngIf ="$user">
    <div class="modal-content">
      <form (ngSubmit) = "updateUser($user)">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit user rights</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8 col-sm-8">
                  
                  
                  <label>User Role</label>
                    <div class="fotm-group">
                        <input type="radio" name="radio" id="radio1" [(ngModel)] = "$user.role" value="User" />
                        <label for="radio1">User</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" name="radio" id="radio2" [(ngModel)] = "$user.role" value="Admin"/>
                        <label for="radio2">Admin</label>
                    </div>
              
                  <hr>
                    <div class="form-group">
                      <input type="checkbox" name="deleteOrder" id="checkbox1" [(ngModel)] ="deleteOrder"/>
                      <label for="checkbox1"><i class="fa fa-trash fa-fw text-danger " aria="hidden"></i>Delete User</label>
                    </div>

              

         
            </div>
            <div class="col-md-4 col-sm-4">
            <div class="panel panel-default">
            
            <div class="panel-heading">
              <div class="pic-round">
                    <img alt="" src="{{$user?.profile?.avatar}}" class="center-block" onError="this.src= './assets/img/default-avatar.png';">
              </div>
              <p><strong>{{$user?.profile?.name}}</strong></p>
              <p><small>{{$user?.email}}</small></p>
              <p><small>{{$user?.role}}</small></p>
            </div>
              
            </div>
            </div>
          </div>      
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" *ngIf = "!deleteOrder">Submit</button>
          <button type="button" class="btn btn-danger" *ngIf = "deleteOrder" (click) = "deleteUser($user)">Delete User</button>
        </div>
      </form>
    </div>
  </div>
</div>






