.pointer{
    cursor:pointer;
	}

header {
  position: realtive;
  padding-top:80px; 
}


.page-wrap{
  
  min-height:100%;
  margin-bottom: -80px;

}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 80px; 
}

/*Footer*/
footer {

  background-color: #f5f5f5;
  border-top: 1px solid #E7E7E7;

}