<div class="container">
	<div class="row">
		
		<div class="col-md-8">
			<div *ngIf="signupCode">
				<form (ngSubmit) = "setSignupCode()">
					<label>{{signupCode?.name}}</label>
					<div class="input-group">
					<span class="input-group-addon checkbox-success">
				        <input type="checkbox" name="enabled" [(ngModel)] ="signupCode.enabled" />
				     </span>
				     <input [disabled]="!signupCode.enabled" type="text" class="form-control" name="value" [(ngModel)] = "signupCode.value" />
				    </div>
				    <br>
				    <button class="btn btn-md btn-primary pull-right" type="submit">Save <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
				</form>
			</div>
		</div>
		<div class="col-md-4">
		<h2>List of users</h2>
		<app-user-list></app-user-list>
		</div>
	</div>
</div>



