<div class="container">
  <div *ngIf="user">
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    	<div class="row">
    		<div class="col-lg-4  col-lg-offset-4 col-sm-6 col-sm-offset-3">
                <div class="card hovercard">
                    <div class="cardheader">
                      <img alt="" src="{{user?.profile?.cover}}" onError="this.src='http://lorempixel.com/850/280/nature/4/'">
                    </div>
                    <div class="avatar">
                        <img alt="" src="{{user?.profile?.avatar}}" onError="this.src= './assets/img/default-avatar.png';">
                    </div>
                    <div class="info">
                        <div class="title">
                            {{user?.profile?.name}}
                        </div>
                        <div class="desc">{{user?.email}}</div>
                        <div class="desc">{{user?.role}}</div>
                    </div>
                    <div class="bottom">
                      
                        
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-sm center-block" data-toggle="modal" data-target="#editModal">
                        <span class="fa fa-edit"></span> Update your profile
                </button>
            </div>
    	</div>
    </div>
  </div>




<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form (ngSubmit) = "updateUser()">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Editing your profile..</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)] = "user.profile.name" />
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="user.email"/>
          </div>

          <div class="form-group">
            <label>Avatar</label>
            <input type="text" class="form-control" name="avatar" [(ngModel)]="user.profile.avatar"/>
          </div>

          <div class="form-group">
            <label>Cover</label>
            <input type="text" class="form-control" name="cover" [(ngModel)]="user.profile.cover"/>
          </div>




          
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-success" type="submit" >Update User</button>
        </div>
      </div>
    </form>
  </div>
</div>


